<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
    <script src="https://kit.fontawesome.com/b622451a1f.js" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> -->
    <link rel="icon" type="image/png" href="/images/CollocafeLogo.png" />
    <title>Collocafe</title>
    <meta name="Collocafe" content="A collection of the best cafe's in Tokyo and what people say about them." />
    <meta property="og:title" content="Collocafe" />
    <meta property="og:image" content="/images/CollocafeLogo.png" />
    <meta property="og:description"
        content="A collection of the best cafe's in Tokyo and what people say about them." />
    <meta property="og:site_name" content="Collocafe" />
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <a class="navbar-brand" href="/cafes">
            <!-- <i class="fas fa-coffee"></i> -->
            <img class="nav-bar-logo" src="/images/CollocafeLogo.png" alt="">
        </a>

        <div class="nav-searchbar">
            <form action='/search' method='POST' class="nav-searchbar">
            <input type="text" name="Search" class="form-control nav-searchbar" placeholder="search by cafe name or area"
                aria-label="search by cafe name or area" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
            </form>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- if/else statement to determine which links show up on the navbar... -->
                <!-- ================================================================= -->
                <% if(!currentUser) { %>
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/register">Sign Up</a>
                </li>
                <% } else { %>
                <li class="nav-item active">
                    <a class="nav-link welcome-text" href='#'>Hi, <%= currentUser.username%>!</a>
                </li>
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li> -->
                <% } %>
                <!-- ================================================================= -->

                <li class="nav-item dropdown">
                    <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"
                        src="https://res.cloudinary.com/deyqjsowe/image/upload/v1605422615/profile_vm9yoj.png" />
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

                        <% if(currentUser) { %>
                        <a class="dropdown-item" href="/logout">Log Out</a>
                        <hr class="m-0">
                        <a class="dropdown-item" href="#">profile page coming soon...</a>
                        <% } %>
                        <a class="dropdown-item" href="#">search coming soon...</a>
                        <a class="dropdown-item" href="#">map coming soon...</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- flash-connect... -->
    <% if(error && error.length > 0) { %>
    <div class='aler alert-danger' role='alert'><%= error %></div>
    <% } %>
    <% if(success && success.length > 0) { %>
    <div class='aler alert-success' role='alert'><%= success %></div>
    <% } %>
    <!-- *** Be sure to turn off Prettier so that the html and body tags do not close in this header partial... *** -->