<%- include("../partials/header") %>

<form method='POST' action='/cafes/<%= cafe._id %>/comments' class='app-form'>
  <h3>Comment</h3>
  <div class="form-group">
    <label for="commentText">
      Leave a Comment about <%= cafe.name %>
    </label>
    <!-- <input type="text" name='author' placeholder="your name" required> -->
    <textarea id="commentText" type="text" rows=7" name='text' placeholder="your comment" class='form-control'
      required></textarea>
    <button type="submit" class="btn-success-yun-med form-control mt-2">Comment</button>
  </div>
  <!-- <a href="/cafes" class="button-all-cafes"><button class="btn btn-info button-all-cafes">See All Cafes</button></a> -->
</form>

<%- include("../partials/footer") %>