<%- include("partials/header") %>
<h3>This is Collocafe.</h3>
<br>
<a href="/cafes"><button>See All Cafes</button></a>
<br>
<a href="/cafes/new"><button>Add a New Cafe</button></a>

<p>The routes:</p>
<ul>
  <li>/cafes</li>
  <li>/cafes/new</li>
</ul>
<%- include("partials/footer") %>