<%- include("partials/header") %>

<div class="">
  <form action='/login' method='POST' class="login-form">
    <label>
      Username
      <input type="text" name='username' placeholder="username" required>
    </label>
    <label>
      Password
      <input type="password" name='password' placeholder="password" required>
    </label>
    <button>Register</button>
  </form>
</div>

<%- include("partials/footer") %>