<%- include("partials/header") %>

<h2>this is the login page...</h2>
<form action='/login' method='POST'>
  <input type="text" name='username' placeholder="username" required>
  <input type="password" name='password' placeholder="password" required>
  <button>Register</button>
</form>

<%- include("partials/footer") %>