<%- include("partials/header") %>

<form action='/login' method='POST' class="app-form">
  <div class="form-group">
    <label>
      Username
      <input type="text" name='username' placeholder="username" class="form-control" required>
    </label>
    <label>
      Password
      <input type="password" name='password' placeholder="password" class="form-control" required>
    </label>
    <button type="submit" class="btn btn-success form-control mt-3">Register</button>
  </div>
</form>

<%- include("partials/footer") %>