<%- include("partials/header") %>

<form action='/login' method='POST' class="app-form">
    <h3>Log In</h3>
    <div class="form-group">
        <label>
            Username
            <input type="text" name='username' placeholder="username" class="form-control" required>
        </label>
        <label>
            Password
            <input type="password" name='password' placeholder="password" class="form-control" required>
        </label>
        <button type="submit" class="btn-success-yun-med form-control">Log In</button>
    </div>
</form>

<%- include("partials/footer") %>