<form method='POST' action='/cafes'>
  <input type="text" name='name' placeholder="cafe name">
  <input type="text" name='area' placeholder="area, neighborhood, or nearest station">
  <button>submit</button>
  <br>
  <a href="/cafes"><button>See All Cafes</button></a>
</form>