<%- include("partials/header") %>

<form action='/register' method='POST' class="app-form">
    <h3>Sign Up</h3>
    <div class="form-group">
        <label>
            Username
            <input type="text" name='username' placeholder="username" class="form-control" required>
        </label>
        <label>
            Password
            <input type="password" name='password' placeholder="password" class="form-control" required>
        </label>
        <button type="submit" class="btn-success-yun-med form-control">Sign Up</button>
    </div>
    <!-- <a href="/cafes" class="button-all-cafes"><button class="btn btn-info button-all-cafes">See All Cafes</button></a> -->

</form>

<%- include("partials/footer") %>