<%- include("partials/header") %>

<div class="banner"
    style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/images/dark-background.jpeg);">
    <div class="container banner-div">
        <h1>Collocafe</h1>
        <p>Some of the best cafes in Tokyo</p>
        <p>and what people are saying about them</p>
        <div>
            <a href="/cafes" class=""><button class="index-banner-button">See All
                    Cafes</button></a>
            <a href="/cafes/new" class=""><button class="btn-success-yun index-banner-button">Add a New
                    Cafe</button></a>
        </div>
    </div>
</div>

<%- include("partials/footer") %>