body {
  background-color: rgba(95, 127, 156, 0.5);
}

/* Footer Styles - 
====================================================================== */
.footer-div {
  border: 5px solid red;
  width: 100vw;
  height: 48px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-div h6 {
  margin: 0;
}
/* ======================================================================  */

/* Login Form Styles - 
====================================================================== */
.login-form {
  width: 240px;
  margin: 0 auto;
}

.login-form label, input{
  display: block;
}

/* ======================================================================  */


/* Navbar Styles 
====================================================================== */
.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
/* ====================================================================== */




/* Avatar Styles - Le Wagon Component - Needed for Navbar
====================================================================== */
.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
/* ====================================================================== */
