body {
    background-color: rgba(248, 248, 248, 1);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
}
.btn {
    transition: all 0.1s;
}

/* Root Page Styles */
/* ====================================================================== */
.banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 100vh;
    margin-bottom: -32px;
}

.banner-div {
    margin-top: 14vh;
}

.banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 64px;
    font-weight: bold;
}

.banner p {
    font-size: 24px;
    color: white;
    opacity: .85;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: 0;
    padding: 0;
}

.index-banner-button {
    background-color:   rgb(50, 193, 233); 
    color: white;
    border-radius: .2em;
    border: none;
    transition: all 0.1s ease-in-out;
    padding: 12px 64px;
    margin-top: 8px;
}

.index-banner-button:hover {
    background-color:   rgb(46, 178, 214); 
    color: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.16);
}

@media only screen and (max-width: 995px) {
    .index-banner-button {
        padding: 12px 36px;
    }
}
/* ====================================================================== */


/* Index Page Styles */
/* ====================================================================== */
.index-add-cafe-button-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 -8px 0;
}

.btn-success-yun {
    background-color:   rgb(50, 193, 233); 
    color: white;
    border-radius: .2em;
    border: none;
    transition: all 0.1s ease-in-out;
    padding: 14px 80px;
    margin-top: 16px;
}

.btn-success-yun:hover {
    background-color:   rgb(46, 178, 214); 
    color: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.16);
    text-decoration: none;
}

.mapbox-index {
    box-shadow: 0 0 12px rgba(0,0,0,0.16);
    width: 100%; height: 600px; margin: 0px auto 8px auto;
}

/* .mapbox-index:active {
color: red;
} */

@media only screen and (max-width: 576px) {
    .mapbox-index {
        width: 100%; height: 440px; margin: 0px auto 8px auto;
    }
    .btn-success-yun {
        padding: 12px 64px;
    }
}

.cluster-map-popup {
    /* transition: all 0.1s ease-in-out; */
}

.cluster-map-popup:hover {
    text-decoration: none;
    transform: scale(1.5);
    
}

.cluster-map-popup-photo {
    width: 150px;
    transition: all 0.1s ease-in-out;
}

.cluster-map-popup-photo:hover {
    transform: scale(1.002);
    box-shadow: 0 0 12px rgba(0,0,0,0.16);
}

.cluster-map-popup-cafeName {
    font-size: 18px;
    text-align: center;
}

.cluster-map-popup-cafeName, .cluster-map-popup-cafeArea {
    margin: 0;
    text-align: center;
    color: black;
    transition: all 0.1s ease-in-out;
}

.cluster-map-popup-cafeName:hover {
    transform: scale(1.02);
    color:   rgb(46, 178, 214); 
}
.cluster-map-popup-cafeArea:hover {
    /* transform: scale(1.02);
    color: rgb(35, 120, 156);  */
}
/* ====================================================================== */


/* Index Page Cafe Cards Styles */
/* ====================================================================== */
.cafe-cards-div {
    /* width: 960px; */
}

.cafe-card {
  /* border: 1px solid black; */
    padding: 0px;
    padding-bottom: 16px;
    box-shadow: 0 0 12px rgba(0,0,0,0.16);
    margin: 0 auto;
    margin-top: 24px;
    margin-top: 32px;
}

.index-image {
    width: 100%;
    height: 320px;
    object-fit: cover;
    padding: 0;
}

.card-text-div {
    padding: 16px;
}

.cafe-card h2 {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: rgba(16, 16, 16, 0.95)
}

.cafe-card h4 {
    font-size: 18px;
    font-weight: 200;
    margin: 2px 0;
    padding: 0;
    color: rgba(20, 20, 20, 0.85)
}

.cafe-card h5 {
    font-size: 14px;
    font-weight: 200;
    margin: 4px 0;
    padding: 0;
    color: rgba(20, 20, 20, 0.75)
}

.cafe-card button {
    background-color:   rgb(50, 193, 233); 
    color: white;
    border-radius: .2em;
    border: none;
    transition: all 0.1s ease-in-out;
    padding: 4px 6px;
}

.cafe-card button:hover {
    background-color:   rgb(46, 178, 214); 
    color: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.16);
}
/* ====================================================================== */


/* Show Page Styles */
/* ====================================================================== */
.show-main-div {
    width: 80vw;
    margin: 32px auto 0 auto;
    /* border: 1px solid black; */
}

.show-main-flex {
    display: flex;
    justify-content: center;
    align-items: start;
}

.mapbox-show {
    /* min-width: 440px;
    max-width: 480px; */
    box-shadow: 0 0 12px rgba(0,0,0,0.16);
}

.show-card {
    width: 540px;
    box-shadow: 0 0 12px rgba(0,0,0,0.16);
    margin-right: 16px;
}

.show-image {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.cafe-text {
    /* border: 1px solid grey;
    border-top: none; */
    padding: 16px;
}

.cafe-text-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
}

.show-cafe-name {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 600;
    color: rgba(16, 16, 16, 0.95)
    margin-block-start: 0;
}
.show-cafe-area {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 100;
    color: rgba(20, 20, 20, 0.85)
}

.show-cafe-author{
    font-size: 13px;
    font-weight: 300;
    color: rgba(40, 40, 40, 0.75);
    margin-top: 5px;
}

.buttons-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.buttons-row button {
    margin: 0 8px 0 8px;
}

.show-comments-div {
    /* border: 1px solid grey; */
    width: 60%;
    margin: 40px auto 0px auto;
    min-width: 440px;
    max-width: 480px;
    /* margin-top: 0px; */
}

.comments-header {
    width: 100%;
    text-align: center;
    padding: 16px 0px;
}

.show-individual-comment-div {
    /* border: 1px solid slategrey; */
    padding: 16px;
    margin: 16px 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.16);
    transition: all 0.1s ease-in-out;
}

.show-individual-comment-div:hover {
    box-shadow: 0 0 12px rgba(0,0,0,0.24);
}

.show-individual-comment-div strong {
    font-weight: 800;
    font-size: 16px;
    color: rgba(0,0,0,1);
}

.comment-text-area {
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comment-text-area h4 {
    margin-bottom: 0;
}

.leave-comment-h3 {
    font-size: 24px;
    font-weight: 500;
    color: rgba(20, 20, 20, 0.85);
    margin-bottom: 2px;
}

.leave-comment-button {
    margin: 0 auto;
}

.comment-text-area i {
    color: rgb(50, 193, 233);
    transition: all 0.1s;
    font-size: 16px;
}

.comment-text-area i:hover {
    color: rgb(46, 178, 214);
    scale: 1.2;
      /* box-shadow: 0 0 4px rgba(0,0,0,0.16); */
}

.comment-if-author-buttons-row {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 4px 0 0;
    margin: 0;
}

.comment-if-author-buttons-row h4 {
    paddding: 0;
    margin 0;
}

.comment-if-author-buttons-row i {
    margin: 0 4px 0 0;
}

.trash-button {
    background: none;
    padding: 0px;
    border: none;
}

.comment-text {
    font-size: 18px;
    font-weight: 400;
    color: rgba(16, 16, 16, 0.95);
}

.comment-author-name {
    color: rgba(20, 20, 20, 0.55);
    font-size: 14px;
    font-weight: 200;
    margin-top: 6px;
}

.mapbox-show {
    width: 540px;
    height: 480.5px;
    margin-left: 16px;
    box-shadow: 0 0 12px rgba(0,0,0,0.16);
}

.mapbox-popup {
    /* background-color: blue; */
}

.mapbox-popup-name {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 2px 0 ;
    text-align: center;
}

.mapbox-popup-area {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

/* @media only screen and (max-width: 576px) { */
@media only screen and (max-width: 995px) {
    .show-main-div {
        width: 90vw;
    }

    .show-main-flex {
        display: inline;
        margin: 0 auto 0 auto;
    }

    .show-card {
        margin: 16px auto 0 auto;
    }

    .mapbox-show {
        margin: 16px auto 0 auto;
    }
    
    .show-comments-div {
        margin-top: 16px;
        width: 95%;
    }
}

@media only screen and (max-width: 576px) {
    .show-card {
        width: 440px;
        margin: 16px auto 0 auto;
    }
    
    .mapbox-show {
        width: 440px;
        margin: 16px auto 0 auto;
    }
}
/* ====================================================================== */


/* Navbar Styles 
====================================================================== */
.navbar-lewagon {
    justify-content: space-between;
    background-color:   rgba(50, 193, 233, 1) !important; 
    /* background-color:   rgba(8, 8, 8, 1);  */
    box-shadow: 0 0 12px rgba(0,0,0,0.16) !important;
}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: 40px;
}

a.nav-link {
    transition: all 0.1s ease-in-out !important;
    color: white !important;
}

a.nav-link:hover {
    color: rgba(255,255,255, 0.6) !important; 
}

.nav-bar-logo {
    transition: all 0.3s !important;
}

.nav-bar-logo:hover {
    transition: all 0.1s ease-in-out  !important;
    color:   rgba(50, 193, 233, 1)  !important; 
    scale: 1.2 !important;
}

.fas {
    padding: 4px 12px;
    font-size: 32px;
    color:   rgba(50, 193, 233, 1)  !important; 
    border: 1px solid rgba(50, 193, 233, 1);
    border-radius: .2rem;
    transition: all 0.15s ease-in-out !important;
}

.fas:hover {
    color: rgba(46, 178, 214, 1) !important; 
    border: 1px solid rgba(46, 178, 214, 1) !important;
    scale: 1.1;
}

.welcome-text {
    font-size: 18px;
}
/* ====================================================================== */


/* Footer Styles 
====================================================================== */
.footer-div {
  /* border: 5px solid red; */
    width: 100vw;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    position: absolute;
    bottom: 0;
    padding: 0 40px;
    background-color: rgba(40, 40, 40, .1);
  /* box-shadow: 0 0 8px rgba(0,0,0,0.16); */
}

.footer-right a {
    color: rgba(50, 193, 233, 1);
    margin: 0 16px;
    transition: all 0.1s ease-in-out;
}

.footer-right a:hover {
    color: rgba(46, 178, 214, 1);
    scale: 1.2;
}

.footer-div h6 {
    color: rgba(50, 193, 233, 1);
    margin: 0;
}

@media only screen and (max-width: 576px) {
    .footer-div {
        padding: 0 16px;
    }

    .footer-right  a {
        margin: 0 4px;
    }

    .footer-div h6, .footer-div i {
        font-size: 14px;  
    }
}
/* ======================================================================  */


/* Form Styles
====================================================================== */
.app-form {
  /* border: 1px solid black; */
  padding-top: 32px;
  width: 400px;
  margin: 0 auto;

}

.app-form h3 {
  font-weight: 300;
  color: rgba(24, 24, 24, 0.85);
}

/* .app-form h3 {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.85);
} */

.app-form label, input {
  display: block;
  color: rgba(24, 24, 24, 0.85);
}

.button-all-cafes {
  margin: 16px auto 0 auto;
}
/* ======================================================================  */


/* Avatar Styles - Le Wagon Component - Needed for Navbar
====================================================================== */
.avatar {
  width: 40px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.avatar:hover {
  scale: 1.1;
  cursor: pointer;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
/* ====================================================================== */

/* Button Styles
/* ====================================================================== */
.btn-success-yun-med {
  background-color:   rgb(50, 193, 233); 
  color: white;
  border-radius: .2em;
  border: none;
  transition: all 0.1s ease-in-out;
  /* padding: 12px 64px; */
}

.btn-success-yun-med:hover {
  background-color:   rgb(46, 178, 214); 
  color: white;
  box-shadow: 0 0 4px rgba(0,0,0,0.16);
}

.btn-success-yun-small {
  background-color:   rgb(50, 193, 233); 
  color: white;
  border-radius: .2em;
  border: none;
  transition: all 0.1s ease-in-out;
  padding: 4px 6px;
}

.btn-success-yun-small:hover {
  background-color:   rgb(46, 178, 214); 
  color: white;
  box-shadow: 0 0 4px rgba(0,0,0,0.16);
}
/* ====================================================================== */


/* Flash Alert Styles
/* ====================================================================== */
.aler {
  padding: 16px 0px 16px 40px;
  font-size: 18px;
}
/* ====================================================================== */
