<%- include("../partials/header") %>
<form method='POST' action='/cafes' class="app-form">
  <h3>Add A New Cafe</h3>
  <div class="form-group">
    <label>
      Cafe Name
      <input type="text" name='name' placeholder="cafe name" class="form-control" required>
    </label>
    <label>
      Cafe Location
      <input type="text" name='area' placeholder="area, neighborhood, or nearest station" class="form-control">
    </label>
    <label>
      Cafe Photo URL
      <input type="text" name='url' placeholder="photo url" class="form-control">
    </label>
    <button type="submit" class="btn-success-yun-med form-control">Add This Cafe</button>
  </div>
  <!-- <a href="/cafes" class="button-all-cafes"><button class="btn btn-info button-all-cafes">See All Cafes</button></a> -->
</form>

<%- include("../partials/footer") %>